* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f4f8; /* Azul bem claro como fundo geral */
    color: #333;
    line-height: 1.6;
}

/* Cabeçalho */
header {
    background-color: #276fbf; /* Azul escuro */
    color: white;
    padding: 1rem 0;
    text-align: center;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
}

/* Menu */
nav {
    background-color: #1e4b7a; /* Azul mais escuro */
    text-align: center;
    padding: 0.5rem;
}

.menu-header {
    list-style: none;
    display: inline-flex;
}

.menu-header li {
    margin: 0 15px;
    padding: 3px 12px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.menu-header a {
    color: white;
    text-decoration: none;
}

.menu-header li:hover {
    background-color: #4a90e2; /* Azul médio */
}

/* Seções */
section {
    padding: 2rem 1rem;
}

.activity {
    margin: 1rem;
}

/* Cartões de conteúdo */
.job, .text-class, .content-main {
    background-color: white;
    padding: 1rem;
    margin: 1rem 0;
    border: 1px solid #ccc; /* Cinza claro */
    border-radius: 8px;
    transition: background-color 0.3s, box-shadow 0.3s;
}

/* Removendo os pontos das listas */
.text-class ul, .footer-column ul, .footer-links {
    list-style-type: none;
}

/* Efeito hover nos cartões */
.content-main:hover, .text-class:hover, .job:hover {
    background-color: #d9e9ff; /* Azul bem claro para hover */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

/* Rodapé */
footer {
    background-color: #1e4b7a; /* Azul escuro */
    color: white;
    padding: 1rem 0;
    text-align: center;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    padding: 1rem 0;
}

.footer-column {
    max-width: 200px;
}

.footer-column h3 {
    border-bottom: 2px solid white;
    padding-bottom: 5px;
}

.footer-column a {
    color: white;
    text-decoration: none;
}

.footer-column a:hover {
    text-decoration: underline;
}

.footer-links {
    display: flex;
    justify-content: center;
    padding: 1rem 0;
}
.footer-links img {
    width: 30px;
    height: 30px;
    margin: 0 10px;
    transition: transform 0.3s;
}

.footer-links img:hover {
    transform: scale(1.1);
}

.fade-in {
    animation: fadeIn 2s ease-in;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
